.aboutMe-header-wrapper{
  padding: 2rem;
  text-align: center;
}

.aboutMe-header{
  display: inline-block;
  text-align: center;
  /* border-bottom: 2px dashed black; */
  margin: 0 auto;
}

.aboutMe-container {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: flex-start; /* align content to the left */
  gap: 8rem;
  padding: 3vh 2vw;
  max-width: 100%;
  /* margin-left: 2vw; */
  /* border: 2px solid red; */
  border-bottom: 1px solid black;
}

.aboutMeImg-container {
  display: flex;
  justify-content: flex-start;
  width: auto;
  border-radius: 12px;
  /* border: 2.5px solid black; */
}

.aboutMeImg-container img {
  width: 80%;
  height: auto;
  border-radius: 12px;
  border: 2.5px solid black;
}

.aboutMeTxt-container {
  flex: 1 1 250px;
  display: flex;
  max-height: fit-content;
  max-width: 30vw;
  flex-direction: column;
  justify-content: center;
  /* border: 2.5px solid black; */
}

.aboutMeTxt-container h2{
  font-size: 2rem;
  margin: 0.3rem 0;
  text-decoration: none;
  line-height: 1.5;
  overflow-wrap: break-word;
  hyphens: auto;
}

.aboutMeTxt-container p{
  font-size: 1.45rem;
}

.aboutMeTxt-container img{
  width: 10%;
  height: auto;
  margin-right: 20px;
  vertical-align: middle;
}

.aboutMeTxt-hobbies-container {
  flex: 1 1 250px;
  display: flex;
  max-height: fit-content;
  max-width: 30vw;
  flex-direction: column;
  justify-content: center;
  /* border: 2.5px solid black; */
}

.aboutMeTxt-hobbies-container h2{
  font-size: 2rem;
  margin: 0.3rem 0;
  text-decoration: none;
  line-height: 1.5;
  overflow-wrap: break-word;
  hyphens: auto;
}

.aboutMeTxt-hobbies-container {
  list-style-position: inside;
  padding-left: 0;
  margin: 0
}

.aboutMeTxt-hobbies-container li{
  list-style-position: inside;
  font-size: 1.45rem;
  margin: 0.3rem 0;
  line-height: 1.5;
  overflow-wrap: break-word;
  hyphens: auto;
}


/* Specific Instructions for when the screen is resized to a certain size. Mostly for mobile based layouts. */

@media (max-width: 768px) {
  .aboutMe-container {
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* text-align: center; */
    gap: 2rem;
  }

  .aboutMeImg-container {
    justify-content: center;
  }

  .aboutMeTxt-container{
    justify-content: center;
    max-width: 90vw;
  }

  .aboutMeTxt-container img {
    width: 40px;
    margin: 0 10px;
  }


  .aboutMeTxt-hobbies-container{
    justify-content: center;
    max-width: 90vw;
  }

  .aboutMeTxt-container h2,
  .aboutMeTxt-container p{
    text-align: center;
  }
  

  .aboutMeImg-container img {
    width: 80%;
  }

  .aboutMeTxt-hobbies-container {
    justify-content: center;
    max-width: 90vw;
    list-style-position: inside;
    padding-left: 0;
    margin: 0
  }

}