/*The div will set the stage for the rest of the children in this specific section.
Specifies the amount of space it will take, padding, and the format that it will adopt to show the information on screen.*/
.general-info{
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* border: 2px solid red; */
}


/* Used for general debugging of spacing. */

/* 
.general-info > * {
    outline: 2px dashed blue;
} */


/*Will allow the name and titles div to be able to resize as needed to accomodate the new text being added.*/
.name-titles{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* border: 2px solid black; */

}

/* Will allow for the icons inside of the icons div to resize as needed while additionally specifying spacing between elements and its neighbors */
.icons{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    /* border: 2px solid red; */

}

/*Directly will influence the size of the icons as the screen size changes and indicated the behavior they will have when pointed and what kind
of transition they will have.*/
.icons img{
    width: clamp(28px, 3.5vw, 38px);
    cursor: pointer;
    transition: transform 0.2s ease;
}

/*This is done in order to add an effect to the icons once they are being hovered over and what kind of action they should take.*/
.icons img:hover{
    transform: scale(1.1);
}

/*This specifies the size and behavior that the professional headshot will take. If the webpage or page becomes
smaller or bigger the clamp will take care of adjusting the size according to the sizes specified. 
While also keeping a circular border that will contain the image while hidding any excess from the image. */
.professional-headshot {
    justify-self: center;
    width: clamp(200px, 25vw, 350px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
}

/*The image will be in full size but will size itself to fit inside of the border specified in professional-headshot*/
.professional-headshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*This section is strictly dedicated to specifying the behavior that the webpage will have on mobile screens/smaller screens.
It will attempt to place it in a vertical area so as to fit in the smaller screen without causing disruption.*/
@media (max-width: 768px) {
    .general-info {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .professional-headshot {
        margin: 0 auto;
    }

    .icons {
        justify-content: center;
    }
}