.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 350px;
    display: inline-block;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;
}

.card h2{
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.card p{
    /* font-family: Arial, Helvetica, sans-serif; */
    color: hsl(0, 0%, 30%);
}

.skill-list{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-self: center;
    align-items: center;
}

.skill-list button{
    /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.6); */
    border-radius: 12px;
    border-color: black;
    border-width: 1.5px;
    background-color: antiquewhite;
}
