.carousel{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: auto;
    border-radius: 12px;
    border: 2.5px solid black; 
}

.courseKey{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem 2.5rem;
    box-sizing: border-box;
}

.courseKey-hidden{
    display: none;
}

.arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    filter: drop-shadow(0px 0px 5px black)
}

.arrow:hover{
    cursor: pointer;
}

.arrow-left{
    left: 0.5rem;
    z-index: 2;
}

.arrow-right{
    right: 0.5rem;
    z-index: 2;
}

.indicators{
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.indicator{
    background-color: black;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}

.indicator-inactive{
    background-color: grey;
}
