/* education-section is solely focused on how the entire education section will look. From how its 
aligned to how it works on screens and how much space the entire section will take. */

.education-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.education-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
}

/* The education-item will be more specific in order to manipulate how the item is presented on the screen. */
.education-item{
    border: 1px solid black;
}