.education-section{
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    /* border: 2px solid red; */
}

.education-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2rem;
    /* border: 2px solid red; */
}

.university-info{
    width: 100%;
    justify-self: center;
    /* border: 2px solid red; */
}

.university-info h2, h3{
    text-align: center;
}

.coursework-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2rem;
    justify-content: center;
    /* border: 2px solid red; */

}