.education_header_wrapper{
  padding: 2rem;
  text-align: center;
}

.education_container{
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: flex-start; /* align content to the left */
  gap: 1rem;
  padding: 3vh 2vw;
  max-width: 100%;
  /* margin-left: 2vw; */
  /* border: 2px solid red; */
  border-bottom: 1px solid black;
}

.uic_img_container{
  display: inline-block;
  width: 45vw;
  height: auto;
  border-radius: 12px;
  border: 2.5px solid black;
  padding: 0;
  margin: 0;
  max-width: fit-content;
}

.uic_img_container img {
    display: block;
    width: 80%;
    height: auto;
    border-radius: 12px;
    
}

