.general-experience{
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    background-color: #D8D174;
    /* border: 2px solid red; */
}

.experience-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    /* justify-content: center; */
    padding: 2rem;
    /* border: 2px solid red; */
}

.company-subinfo{
    width: 100%;
    justify-self: center;
    /* border: 2px solid red; */
}

.company-subinfo h2,h3{
    text-align: center;
}

.description-duties{
    width: 80%;
    justify-self: center;
    /* border: 2px solid red; */
    box-sizing: border-box;
    padding: 2rem;
}
