.general-experience{
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    /* border: 2px solid red; */
}

.experience-card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    border: 2px solid red;
}