.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 0 1rem;
    background-color: #555353;
    z-index: 1000;
}

.navbar a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px 16px;
    display: flex;
    align-items: center;
}

.navbar a:hover {
    background-color: #555;
    border-radius: 4px;
}

.content {
    padding-top: 30px;
}