.general-projects{
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    display: grid;
    align-items: center;
}

.projects-container{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2rem;
    justify-content: center;
    gap: 2rem;
}